// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.sb{
  margin-top: 100px;
}
@media screen and (max-width:480px) {
  h1{
    font-size: 12vw;
  }
}
.checkboxes:nth-of-type(n+2){
  margin-left: 4vw;
}
