// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.sb{
  margin-top: 100px;
}
@media screen and (max-width:480px) {
  h1{
    font-size: 12vw;
  }
}
.checkboxes:nth-of-type(n+2){
  margin-left: 4vw;
}
.close-icon {
  font-size: 2.5rem;
  right: 1rem;
  margin: 1rem auto;
  color: rgb(66, 66, 66);
  padding-left: 17rem;
}
