.sb {
  margin-top: 100px;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 12vw;
  }
}

.checkboxes:nth-of-type(n+2) {
  margin-left: 4vw;
}

.close-icon {
  font-size: 2.5rem;
  right: 1rem;
  margin: 1rem auto;
  color: #424242;
  padding-left: 17rem;
}

.pagination li .pager-str {
  display: flex;
  align-items: center;
}

.pagination li .pager-str__prev::after {
  content: "PREV";
}

.pagination li .pager-str__next::before {
  content: "NEXT";
}

